<%- include('header') %>
<div class="row" style="height: 50px;"></div>
<div class="row main" style="background-color: rgb(31, 31, 31); border-radius: 25px;">
    <section class="vh-100 gradient-custom" style="margin-bottom: 150px;">
        <div class="container py-5 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card bg-dark text-white bg-opacity-25" style="border-radius: 15px;">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Đăng ký tài khoản</h3>
                            <form action="/api/menu/items/xulydangky" method="post">
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label class="form-label">Họ tên</label>
                                            <input type="text" name="name" class="form-control form-control-lg" />
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label class="form-label">Mật khẩu</label>
                                            <input type="password" name="pass" class="form-control form-control-lg" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-4 d-flex align-items-center">
                                        <div class="form-outline datepicker w-100">
                                            <label class="form-label">Sinh ngày</label>
                                            <input type="date" name="ngaysinh" class="form-control form-control-lg"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <h6 class="mb-2 pb-1">Giới tính: </h6>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" name="gioitinh" type="radio" value="Nam" checked />
                                            <label class="form-check-label" for="femaleGender">Nam</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" name="gioitinh" type="radio" value="Nữ" />
                                            <label class="form-check-label" for="maleGender">Nữ</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" name="gioitinh" type="radio" value="Khác" />
                                            <label class="form-check-label" for="otherGender">Khác</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-4 pb-2">
                                        <div class="form-outline">
                                            <label class="form-label">Địa chỉ</label>
                                            <input type="text" name="diachi" class="form-control form-control-lg" />
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4 pb-2">
                                        <div class="form-outline">
                                            <label class="form-label">Số điện thoại</label>
                                            <input type="tel" name="sdt" class="form-control form-control-lg" />
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4 pb-2">
                                        <div class="form-outline">
                                            <label class="form-label">Gmail</label>
                                            <input type="email" name="email" class="form-control form-control-lg" />
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <p class="mb-0">Do you already have an account? <a href=".\login.html" class="text-white-50 fw-bold">Log in</a></p>
                                </div>
                                <div class="mt-4 pt-2">
                                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Đăng ký</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="row" style="height: 100px;"></div>
<div class="row" style="height: 100px; border-top: 2px solid rgb(31, 31, 31);"></div>
<%- include('footer') %>
