<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>This is a Heading</h1>
<%=query%>

<p>This is a paragraph.</p>
<%=message%>
------------
<% for (let p of list)  {%>
    <p>
        idSP: <b><%= p.idlichchieu %></b> 

    </p>
    <hr>
    
<% } %>
</body>
</html>