<%- include('header') %>

            <div class="row" style="border-radius: 20px; background-color: black;">
                <img src="/ảnh/background.png" alt="" style="height: 400; width: 600;">
            </div>

            <div class="row" style="height: 50px;"></div>
            <div class="row d-flex justify-content-around" style="background-color: rgb(31, 31, 31); border-radius: 25px;">
                <div class="col-10" >
                    <div class="row" style="background-color: black; border-radius: 25px; margin-top: 50px; margin-bottom: 50px;">
                        <div class="col d-flex justify-content-center" style="margin-top: 50px;">
                            <div class="c2" style="margin-top: 50px;">
                                <a href=".\Dat_ve.html" class="test"><img src="/ảnh/1.png" alt=""></a>
                                <div class="c2-1 text-white">
                                    <p>
                                        <b>LẬT MẶT 6: TẤM VÉ ĐỊNH MỆNH</b><br>
                                        <b>Thể loại: </b>Hài, hành động, hồi hộp, tâm lý<br>
                                        <b>Thời lượng: </b>132 phút<br>
                                        <b>Khởi chiếu: </b>28-04-2023
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-center" style="margin-top: 50px;">
                            <div class="c2" style="margin-top: 50px;">
                                <a href="" class="test"><img src="/ảnh/2.png" alt=""></a>
                                <div class="c2-1 text-white">
                                    <p>
                                        <b>VỆ BINH GIẢI NGÂN HÀ 3</b>
                                        <b>Thể loại: </b>Hành động, phiêu lưu, thần thoại<br>
                                        <b>Thời lượng: </b>149 phút<br>
                                        <b>Khởi chiếu: </b>03-05-2023
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-center" style="margin-top: 50px;">
                            <div class="c2" style="margin-top: 50px;">
                                <a href="" class="test"><img src="/ảnh/3.png" alt=""></a>
                                <div class="c2-1 text-white">
                                    <p>
                                        <b>CHEBI: GẤU TAI TO ĐÁNG YÊU</b>
                                        <b<b>Thể loại: </b>Gia đình<br>
                                        <b>Thời lượng: </b> 113 phút<br>
                                        <b>Khởi chiếu: </b> 05-05-2023
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-center" style="margin-top: 50px;">
                            <div class="c2" style="margin-top: 50px;">
                                <a href="" class="test"><img src="/ảnh/4.png" alt=""></a>
                                <div class="c2-1 text-white">
                                    <p>
                                        <b>CON NHÓT MÓT CHỒNG</b>
                                        <b>Thể loại: </b>Hài, tâm lý<br>
                                        <b>Thời lượng: </b>112 phút<br>
                                        <b>Khởi chiếu: </b>28-04-2023
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="height: 100px;"></div>
            <div class="row" style="height: 100px; border-top: 2px solid rgb(31, 31, 31);"></div>

            <%- include('footer') %>