
        <%- include('header') %>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
                <div class="d-flex align-items-center">
                    <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
                    <h2 class="fs-2 m-0">Thống kê doanh thu</h2>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <i class="fas fa-user me-2"></i>Admin
                    </ul>
                </div>
            </nav>
            
                
            <div class="container-fluid px-4">
                <div class="row my-5">
                    <div class="col">
                    <form action="/api/menu/items/thongketk" method="post">
                    <div class="form-group mb-2">
                    <label for="">Chọn phim: </label>
                    <select name="idphim" class="form-select">
                        <% for (let i=0; i<list.length; i++) { %>
                            <option value="<%= list[i].idphim %>"><%= list[i].tenphim %></option>
                          <% } %>
                    </select>
                    <label for="">Từ ngày: </label>
                    <input type="date" name="date1" class="form-control" >
                    <label for="">Đến ngày: </label>
                    <input type="date" name="date2" class="form-control" >

                    </div>
                    <button type="submit" class="btn btn-primary">Lọc</button>
                </form>
                <form action="/api/menu/items/thongkeall">
                    <button type="submit"class="btn btn-warning">Thống kê toàn bộ</button>
                </form>
                </div>
                </div>

            </div>
        </div>
    </div>
    

    <!-- /#page-content-wrapper -->    
    <%- include('footer') %>

